:root {
    --fundo: rgb(247, 217, 162);
    --fonte: white;
    --hover: yellowgreen;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.header {
    background-color: rgb(184, 152, 93);    
    position: sticky;
    top: 0;
    width: 100vw;
}
.logo {
    display: inline-block;
    color: var(--fonte);
    font-size: 48px;
}
.nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--fundo);
    overflow: hidden;
}
.menu a {
    display: block;
    padding: 30px;
    color: var(--fonte);
}
.menu a:hover {
    background-color: var(--hover);
}