* {
    padding: 0;
    margin: 0;
}

.menu {
  width: 100%;   
  height: 60px;
  background-color: rgb(85, 56, 17);
}

.conteudo {
 width: 100%;
 background-color: rgb(139, 93, 23);
}

.rodape {
 background-color: rgb(221, 182, 110);
 width: 100%;
 text-align: center;
}

.info-cinema {
    width: 100%;
    background-color: rgb(247, 207, 147);
}

.info-filmes {
    width: 100%;
    background-color: rgb(231, 182, 107);
}

.info-retro {
    width: 100%;
    background-color: rgb(236, 189, 102);
}

.info-destaque {
    width: 100%;
    background-color: rgb(243, 197, 112);
}